/*h1{
	color: red;
}
*/
#profile_summary{
	width:75%;
	margin: 0 auto;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#profile_summary_title{
	margin:0 auto;
	padding-bottom: 5%;
}

#profile_pic{
	text-align: center;
	width: 30%;
}

#profile_image{
	max-width: 20%;
	padding-bottom: 5%;
}
#profile_info{
	flex-grow: 3;
}

#home_contianer{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.scrollable_contents{
	padding-top: 5%;
	width: 75%;
	margin: 0 auto;
}
.scrollable_contents ul {
  /*width: 75%;*/
  max-height: 30%;
  overflow: scroll;
  margin: 0 auto;
  padding: 0;
  
  border: 2px solid #ccc;
  
  font-size: 16px;
  font-family: Arial, sans-serif;
  
  -webkit-overflow-scrolling: touch;
}

.scrollable_contents li {
  padding: 10px 20px;
  
  border-bottom: 1px solid #ccc;
  
  &:last-child {
    border-bottom: none;
  }
  
  &:nth-child(even) {
    background: #f8f8f8;
  }
}

.profile_button{
	padding-top: 5%;
}